{% extends 'base.html' %}
{% load static %}
{% block content %}
<header class="page-header">
    <nav class="navbar navbar-dark">
        <a href="{% url 'question-list' %}" class="navbar-brand main-logo float-left"></a>
            <ul class="nav nounderline text-uppercase">
{#            <li class="nav-item ml-4">#}
{#                <a href="{% url 'about' %}"> O aplikacji </a>#}
{#            </li>#}
                {% if user.is_authenticated %}
            <li class="nav-item ml-4">
                <a href="{% url 'logout-list' %}">Wyloguj</a>
            </li> <li class="nav-item ml-4">
                <a href="{% url 'reset_password' user.id %}">Zmień hasło</a>
            </li>
                {% else %}
             <li class="nav-item ml-4">
                <a href="{% url 'login-list' %}">Zaloguj</a>
            </li>
                {% endif %}
            </ul>
    </nav>
</header>
<div class="jumbotron-fluid">
  <h1 class="display-4">HR Question!</h1>
  <p class="lead"></p>
  <hr class="my-4">
</div>

<section class="index">
     <div class="container">
         <header>
             <h1> {{ user.username }}, witaj w aplikacji HR Question!</h1> <br>
         </header>
         <div class="row">
            <div class="col-3">
                 <h4> <a href="{% url 'language-list' %}"> JĘZYKI </a></h4><br>
                <p> Tu znajdziesz listę języków.</p><br><br><br>
                <p>{ Liczba języków: {{ language_count }} }</p>
            </div>
              <div class="col-3">
                 <h4> <a href="{% url 'question-list' %}"> PYTANIA</a></h4><br>
                   <p> Tu znajdziesz dostępne pytania. </p><br><br><br>
                   <p> { Liczba pytań: {{ question_count }} }</p>
            </div>
              <div class="col-3">
                 <h4> <a href="{% url 'question-list-list' %}"> LISTY PYTAŃ </a></h4><br>
                   <p>Tu znajdziesz listę pytań. </p><br><br>
                  <p>{ Liczba list: {{ questionlist_count }} }</p>
            </div>
         </div>
    </div>
</section>
<div class="footer">
    <h4>HR Question! 2019  Justyna Kędzierska &copy; Wszelkie prawa zastrzeżone</h4>
</div>
{% endblock %}