{% extends 'base.html' %}
{% block content %}
{#    {%  if user %}#}
       {%  for user in object_list%}
       <ol>Nazwa używkownika:  {{ user.username }} <br>
           Imię: {{ user.first_name }} <br>
           Nazwisko: {{ user.last_name }} <br>
           Email: {{ user.email }} <br>
       </ol>
       {%  endfor %}
{#    {% endif %}#}
   <p> <a href="index"> Wróć na stronę główna: </a></p>
   </form>
<div class="footer">
    <h4>HR Question! 2019  Justyna Kędzierska &copy; Wszelkie prawa zastrzeżone</h4>
</div>
{% endblock %}