{% extends 'base.html' %}
{% load static %}
{% block content %}
<header class="page-header">
    <nav class="navbar navbar-dark">
        <a href="/" class="navbar-brand main-logo"></a>
            <ul class="nav nounderline text-uppercase">
            <li class="nav-item ml-4">
                <a href="{% url 'index' %}"> Przejdź do strony głównej </a>
            </li>
            <li class="nav-item ml-4">
                <a href="{% url 'language-add' %}"> Dodaj język </a>
            </li>
                {% if user.is_authenticated %}
            <li class="nav-item ml-4">
                <a href="{% url 'logout-list' %}">Wyloguj</a>
            </li>
                {%  else %}
             <li class="nav-item ml-4">
                <a href="{% url 'login-list' %}">Zaloguj</a>
            </li>
                {% endif %}
        </ul>
    </nav>
</header>
<div class="jumbotron-fluid">
  <h1 class="display-4">HR Question!</h1>
  <p class="lead"></p>
  <hr class="my-4">
</div>
<div class="container">
   <form action="" method="post">
   {% csrf_token %}
   {{ form.as_p }}
    <h1>Języki:</h1><br>
    <h4> { Liczba języków: {{ language_count }} }</h4><br><br>
        <ol>
         {% for language in object_list %}
            <li><h2>{{ language.name | upper}}</h2></li><br>
                <a href="{% url 'language-update' language.id %}" class="btn btn-light btn-sm active" role="button" aria-pressed="true">Edytuj</a>
                <a href="{% url 'language-delete' language.id %}" class="btn btn-light btn-sm active" role="button" aria-pressed="true">Usuń</a> <br>
        {% endfor %}
        </ol>
   </form>
</div>
<div class="footer">
    <h4>HR Question! 2019  Justyna Kędzierska &copy; Wszelkie prawa zastrzeżone</h4>
</div>
{%  endblock %}
