{% extends 'base.html' %}
{% load static %}
{% block content %}
<header class="page-header">
    <nav class="navbar navbar-dark">
        <a href="/" class="navbar-brand main-logo"></a>
            <ul class="nav nounderline text-uppercase">
            <li class="nav-item ml-4">
                <a href="{% url 'index' %}"> Przejdź do strony głównej </a>
            </li>
            <li class="nav-item ml-4">
                <a href="{% url 'question-list-add' %}"> Dodaj listę pytań </a>
            </li>
             <li class="nav-item ml-4">
                <a href="{% url 'search-questionlist' %}"> Wyszukaj listę pytań </a>
            </li>
                {% if user.is_authenticated %}
            <li class="nav-item ml-4">
                <a href="{% url 'logout-list' %}">Wyloguj</a>
            </li>
                {%  else %}
             <li class="nav-item ml-4">
                <a href="{% url 'login-list' %}">Zaloguj</a>
            </li>
                {% endif %}
        </ul>
    </nav>
</header>
<div class="jumbotron-fluid">
  <h1 class="display-4">HR Question!</h1>
  <p class="lead"></p>
  <hr class="my-4">
</div>
<div class="container">
   <form action="" method="post">
   {% csrf_token %}
   {{ form.as_p }}
    <h1>Listy pytań:</h1><br>
   <h4> { Liczba list: {{ questionlist_count }} }</h4><br><br>
        <ol>
       {%  for questionlist in object_list %}
           <li><h2>{{ questionlist.name | upper}}</h2></li><br>
                 Autor: {{ questionlist.author }} <br>
               <a href="{% url 'question-list-detail' questionlist.id %}"class="btn btn-light btn-sm active" role="button" aria-pressed="true">Szczegóły</a>
               <a href="{% url 'question-list-update' questionlist.id %}"class="btn btn-light btn-sm active" role="button" aria-pressed="true">Edytuj</a>
               <a href="{% url 'question-list-delete' questionlist.id %}"class="btn btn-light btn-sm active" role="button" aria-pressed="true">Usuń</a>
            {% endfor %}
        </ol>
   </form>
</div>
{#<div>#}
{#{% if is_paginated %}#}
{#  <nav aria-label="Page navigation conatiner"></nav>#}
{#  <ul class="pagination justify-content-center">#}
{#    {% if page_obj.has_previous %}#}
{#    <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; poprzednia </a></li>#}
{#    {% endif %}#}
{#    {% if page_obj.has_next %}#}
{#    <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> następna &raquo;</a></li>#}
{#    {% endif %}#}
{#  </ul>#}
{#  </nav>#}
{#</div>#}
{#{% endif %}#}
<div class="footer">
    <h4>HR Question! 2019  Justyna Kędzierska &copy; Wszelkie prawa zastrzeżone</h4>
</div>
{% endblock %}

