{% extends 'base.html' %}
{% load static %}
{% block content %}
<header class="page-header">
    <nav class="navbar navbar-dark">
        <a href="/" class="navbar-brand main-logo"></a>
            <ul class="nav nounderline text-uppercase">
            <li class="nav-item ml-4">
                <a href="{% url 'index' %}"> Przejdź do strony głównej </a>
            </li>
            <li class="nav-item ml-4">
                <a href="{% url 'question-list-add' %}"> Dodaj listę pytań </a>
            </li>
             <li class="nav-item ml-4">
                <a href="{% url 'search-questionlist' %}"> Wyszukaj listę pytań </a>
            </li>
                {% if user.is_authenticated %}
            <li class="nav-item ml-4">
                <a href="{% url 'logout-list' %}">Wyloguj się</a>
            </li>
                {%  else %}
             <li class="nav-item ml-4">
                <a href="{% url 'login-list' %}">Zaloguj się</a>
            </li>
                {% endif %}
        </ul>
    </nav>
</header>
<div class="jumbotron-fluid">
  <h1 class="display-4">HR Question!</h1>
  <p class="lead"></p>
  <hr class="my-4">
</div>
<div class="container">
   <form action="" method="post">
   {% csrf_token %}
   {{ form.as_p }}
    <h1>Listy pytań:</h1><br>
        <ol>
       {%  for questionlist in object_list %}
           <li><h3>{{ questionlist.name }}</h3></li> <br>
                Autor: {{ questionlist.author }} <br>
               <a href="{% url 'question-list-detail' questionlist.id %}"class="btn btn-light btn-sm active" role="button" aria-pressed="true">Szczegóły</a>
               <a href="{% url 'question-list-update' questionlist.id %}"class="btn btn-light btn-sm active" role="button" aria-pressed="true">Edytuj</a>
               <a href="{% url 'question-list-delete' questionlist.id %}"class="btn btn-light btn-sm active" role="button" aria-pressed="true">Usuń</a>
            {% endfor %}
        </ol>
   </form>
</div>
<div class="paginator">
    {% if is_paginated %}
      <ul class="pagination">
        {% if page_obj.has_previous %}
          <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
        {% else %}
          <li class="disabled"><span>&laquo;</span></li>
        {% endif %}
        {% for i in paginator.page_range %}
          {% if page_obj.number == i %}
            <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
          {% else %}
            <li><a href="?page={{ i }}">{{ i }}</a></li>
          {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
          <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
        {% else %}
          <li class="disabled"><span>&raquo;</span></li>
        {% endif %}
      </ul>
    {% endif %}
</div>
<div class="footer">
    <h4>HR Question! 2019  Justyna Kędzierska &copy; Wszelkie prawa zastrzeżone</h4>
</div>
{% endblock %}

