{% extends 'base.html' %}
{% block content %}
   <form action="" method="post">
   {% csrf_token %}
   {{ form.as_p }}
       {%  for questiongroup in questiongroup_list %}
       <ol>Nazwa:  {{ questiongroup.name }} <br>
           Autor: {{ questiongroup.author }} <br>
           question: {{ questiongroup.question.get_queryset }} <br>
       </ol>
       {%  endfor %}
   <p> <a href="index"> Wróć na stronę główną: </a></p>
   </form>
{% endblock %}

{##}
{#  name = models.CharField(max_length=64)#}
{#    author = models.ForeignKey(User, on_delete=models.CASCADE)#}
{#    question = models.ManyToManyField(Question)#}